USE [master]
GO
/****** Object:  Database [TBC_DataBase]    Script Date: 3/31/2022 5:14:21 PM ******/
CREATE DATABASE [TBC_DataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TBC_DataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TBC_DataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TBC_DataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TBC_DataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TBC_DataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TBC_DataBase]
GO
/****** Object:  Table [dbo].[books]    Script Date: 3/31/2022 5:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[isbn] [varchar](50) NULL,
	[title] [varchar](50) NULL,
	[subTitle] [varchar](255) NULL,
	[author] [varchar](50) NULL,
	[publish_date] [varchar](50) NULL,
	[publisher] [varchar](50) NULL,
	[pages] [int] NULL,
	[description] [varchar](8000) NULL,
	[website] [varchar](255) NULL
) ON [PRIMARY]
GO
USE [master]
GO
